/* * {
    box-sizing: border-box;
    margin: 0
}

html {
    border: black solid 2em;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#image img {
    width: 200px;
    height: auto;
}

#message {
    width: 200px;
    height: auto;
} */

* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
    font-size: 18px;
  }
  
  .container {
    display: flex;
    width: 60%;
    margin: 5rem auto;
    align-items: center;
  }
  
  .container > img {
    width: 200px;
    height: 200px;
  }
  
  .message {
    line-height: 150%;
    margin-left: 2rem;
    transition: 2s;
  }
  
  .hidden {
    opacity: 0;
  }